<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Famous Quotes - Admin Section</title>
</head>

<body>
    <h1 class="p-5 bg-white text-center text-primary">Quote Finder</h1>
    <%- include("partials/nav.ejs") %>
    
    <%- include("partials/footer.ejs") %>
</body>
</html>